<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="card animated fadeIn">

          <div class="card-body">
            <div class="mt-2 mb-5 m-4">
              <%= link_to student_path(@student) do %>
                <i class="fas fa-user"></i> Retour au profil de l'élève
              <% end %> 
              <%= link_to student_path(@student), method: :delete, data: { confirm: "Cette action est irréversible, êtes vous sur ?"} do %>
                <i class="far fa-trash-alt ml-3"></i> Supprimer l'élève de la base de donnée
              <% end %>
            </div>

            <div class="d-flex m-4">
              <%= form_for @student do |f| %>
                <div class="form-group">
                  <%= f.label :first_name, "Prénom : " %>
                  <%= f.text_field :first_name, class: "ml-2 pl-2 form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :last_name, "Nom de famille : " %>
                  <%= f.text_field :last_name, class: "ml-2 pl-2 form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :birth_date, "Date de naissance : " %>
                  <%= f.date_field :birth_date, class: "ml-2 pl-2 form-control" %>
                </div>

                <div>
                  <%= f.submit class: 'btn btn-primary mt-3' %>
                </div>
              <% end %>
            </div>
          </div>

    </div>
  </div>
</div>
</div>
</main>

