<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card animated fadeIn">
					<div class="card-header d-flex justify-content-between">
						<h1 class="h3 mt-2">Rapport d'erreur des importations</h1>

					</div>
					<div class="card-body">
						<table id="datatables-basic" class="table table-striped" style="width:100%">
							<thead class="thead-dark">
									<th><u>Importation d'élèves:</u></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
							</thead>
							<thead>
								<tr>
									<th>Ligne</th>
									<th>Prénom</th>
									<th>Nom</th>
									<th>Date de naissance</th>
									<th>Erreur</th>
								</tr>
							</thead>
							<tbody>
							  <% @import.all.where(error_name: "Students").order(:line).each do |error| %>
  								<tr>
  									<td>
                      <%= error.line %>
                    </td>

                    <!-- prénom -->
  									<td>
  									  <% if error.data_type[0][1].nil? %>
  									    <%= "Vide" %>
  									  <% else %>
  									    <%= error.data_type[0][1] %>
  									  <% end %>
  									</td>

                    <!-- nom -->
                    <td>
  									  <% if error.data_type[1][1].nil? %>
  									    <%= "Vide" %>
  									  <% else %>
  									    <%= error.data_type[1][1] %>
  									  <% end %>
  									</td>

                    <!-- date de naissance -->
  									<td>
  									  <% if error.data_type[2][1].nil? %>
  									    <%= "Vide" %>
  									  <% else %>
  									    <%= error.data_type[2][1] %>
  									  <% end %>
  									</td>

                    <!-- erreur -->
  									<td>
  									  <% if error.error_type == "Formatage" %>
  									    <b style="color:red"><%= "Champ manquant" %></b>
  									  <% else %>
  									    <b style="color:red"><%= "Doublon" %></b>
  									  <% end %>
  									</td>
  								</tr>
								<% end %>
							</tbody>		
						</table>
						<br>
              <% if @import.first %>
                <i>(Dernière importation faite le <%= @import.first.created_at %>)</i><br>
              <% end %>
					</div>
				</div>
			</div>
		</div> <!-- ROW -->
	</div>
</main>
